
.stroke_content img{
  margin: auto 5px;
  width: 20px;
  height:20px;
}
.stroke_content h5{
  margin: 0 5px;
}

#price_project{
  display: flex;
  justify-content: left;
   width: 150px;
   max-width: 150px;
  flex-wrap: nowrap;
}
#price_project p{
  position: relative;
  top: 1em;
}

/* 日本 */
.Japan  {
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: right;
  color: #F22478;
  
}
/* 中西歐 */
.Cwe{
  justify-content: right;
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #F22478;
  justify-content: right;
}
/* 中亞蒙古國 */
.Mca{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #A68944;
  justify-content: right;
}
/* 中東 */
.MiddleEast{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #EEBE00;
  justify-content: right;
}
/* 中國 */
.China{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #FF3E2A;
  justify-content: right;
}
/* 北歐 */
.Nordic{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #008D53;
  justify-content: right;
}
/* 東南亞 */
.SoutheastAsia{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #7244BD;
  justify-content: right;
}
/* 東歐 */
.EasternEurope{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #EE7B1A;
  justify-content: right;
}
/* 河輪 */
.RiverBoat{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #0093AD;
  justify-content: right;
}
/* 非洲 */
.Africa{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #A84503;
  justify-content: right;
}
/* 南亞 */
.SouthAsia{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #08C19C;
  justify-content: right;
}
/* 南歐 */
.SouthernEurope{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #0090EC;
  justify-content: right;
}
/* 美洲 */
.America{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #CB1F1F;
  justify-content: right;
}
/* 海島 */
.Island{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #00C3ED;
  justify-content: right;
}
.NewZealandAndAustralia{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #79B118;
  justify-content: right;
}
.CruiseShip{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #0C5BD2;
  justify-content: right;
}
.SouthKorea{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 1em;
  align-items: center;
  position: relative;
  display: flex;
  color: #1C34AD;
    justify-content: right;
}
/* 日期結果 */
.result{
  padding-left: 5px;
  width: 70%;
  color:#676767 ;}
/* 手機版 */
@media only screen and (max-width: 400px){
  .Japan{
    text-wrap: nowrap;
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  .Cwe{

    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 中亞蒙古國 */
  .Mca{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 中東 */
  .MiddleEast{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 中國 */
  .China{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 北歐 */
  .Nordic{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  /* 東南亞 */
  }
  .SoutheastAsia{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 東歐 */
  .EasternEurope{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 河輪 */
  .RiverBoat{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 非洲 */
  .Africa{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 南亞 */
  .SouthAsia{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 南歐 */
  .SouthernEurope{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 美洲 */
  .America{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 海島 */
  .Island{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  .NewZealandAndAustralia{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  .CruiseShip{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  .SouthKorea{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
    text-wrap: nowrap;
  }
  /* 中西歐 */
.Cwe{

  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 中亞蒙古國 */
.Mca{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 中東 */
.MiddleEast{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 中國 */
.China{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 北歐 */
.Nordic{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
/* 東南亞 */
}
.SoutheastAsia{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 東歐 */
.EasternEurope{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 河輪 */
.RiverBoat{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 非洲 */
.Africa{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 南亞 */
.SouthAsia{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 南歐 */
.SouthernEurope{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 美洲 */
.America{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
/* 海島 */
.Island{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
  text-wrap: nowrap;
}
.NewZealandAndAustralia{
  text-wrap: nowrap;
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
.CruiseShip{
  text-wrap: nowrap;
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
.SouthKorea{
  text-wrap: nowrap;
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
}
@media only screen and (max-width: 600px) {

  
#price{
  display: flex;
  justify-content: right;
  align-items: center;
}
#price_project{
  display: flex;
  justify-content: right;
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
   white-space: nowrap;
   
}

  #content{
    line-height: 2;
  }
  .Japan{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  .Cwe{

    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 中亞蒙古國 */
  .Mca{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 中東 */
  .MiddleEast{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 中國 */
  .China{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 北歐 */
  .Nordic{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  /* 東南亞 */
  }
  .SoutheastAsia{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 東歐 */
  .EasternEurope{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 河輪 */
  .RiverBoat{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 非洲 */
  .Africa{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 南亞 */
  .SouthAsia{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 南歐 */
  .SouthernEurope{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 美洲 */
  .America{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 海島 */
  .Island{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  .NewZealandAndAustralia{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  .CruiseShip{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  .SouthKorea{
    font-size: 16px;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  /* 中西歐 */
.Cwe{

  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 中亞蒙古國 */
.Mca{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 中東 */
.MiddleEast{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 中國 */
.China{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 北歐 */
.Nordic{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
/* 東南亞 */
}
.SoutheastAsia{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 東歐 */
.EasternEurope{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 河輪 */
.RiverBoat{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 非洲 */
.Africa{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 南亞 */
.SouthAsia{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 南歐 */
.SouthernEurope{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 美洲 */
.America{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
/* 海島 */
.Island{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
.NewZealandAndAustralia{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
.CruiseShip{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
.SouthKorea{
  font-size: 16px;
  justify-content: left;
  align-items: center;
  margin-left: 0;
  width: 100%;
}
}
@media only screen and (max-width: 768px){

  .Japan{
    margin-left: 0;
    width: 100%;
  }
  /* 中西歐 */
.Cwe{
  margin-left: 0;
  width: 100%;
}
/* 中亞蒙古國 */
.Mca{
  margin-left: 0;
  width: 100%;
}
/* 中東 */
.MiddleEast{
  margin-left: 0;
  width: 100%;
}
/* 中國 */
.China{
  margin-left: 0;
  width: 100%;
}
/* 北歐 */
.Nordic{
  margin-left: 0;
  width: 100%;
/* 東南亞 */
}
.SoutheastAsia{
  margin-left: 0;
  width: 100%;
}
/* 東歐 */
.EasternEurope{
  margin-left: 0;
  width: 100%;
}
/* 河輪 */
.RiverBoat{
  margin-left: 0;
  width: 100%;
}
/* 非洲 */
.Africa{
  margin-left: 0;
  width: 100%;
}
/* 南亞 */
.SouthAsia{
  margin-left: 0;
  width: 100%;
}
/* 南歐 */
.SouthernEurope{
  margin-left: 0;
  width: 100%;
}
/* 美洲 */
.America{
  margin-left: 0;
  width: 100%;
}
/* 海島 */
.Island{
  margin-left: 0;
  width: 100%;
}
.NewZealandAndAustralia{
  margin-left: 0;
  width: 100%;
}
.CruiseShip{
  margin-left: 0;
  width: 100%;
}
.SouthKorea{
  margin-left: 0;
  width: 100%;
}
}
@media only screen and (max-width: 1024px){
 
  .Japan{
   
    width: 100%;
     max-width: 100%;
  }
  /* 中西歐 */
.Cwe{

  width: 100%;
  max-width: 100%;
}
/* 中亞蒙古國 */
.Mca{
  
  width: 100%;
  max-width: 100%;
}
/* 中東 */
.MiddleEast{
 
  width: 100%;
  max-width: 100%;
}
/* 中國 */
.China{
  
  width: 100%;
  max-width: 100%;
}
/* 北歐 */
.Nordic{

  width: 100%;
  max-width: 100%;
/* 東南亞 */
}
.SoutheastAsia{
 
  width: 100%;
  max-width: 100%;
}
/* 東歐 */
.EasternEurope{
  
  width: 100%;
  max-width: 100%;
}
/* 河輪 */
.RiverBoat{

  width: 100%;
  max-width: 100%;
}
/* 非洲 */
.Africa{
  
  width: 100%;
  max-width: 100%;
}
/* 南亞 */
.SouthAsia{
  
  width: 100%;
  max-width: 100%;
}
/* 南歐 */
.SouthernEurope{
  
  width: 100%;
  max-width: 100%;
}
/* 美洲 */
.America{
  
  width: 100%;
  max-width: 100%;
}
/* 海島 */
.Island{
  
  width: 100%;
  max-width: 100%;
}
/* 紐澳 */
.NewZealandAndAustralia{
  
  width: 100%;
  max-width: 100%;
}
/* 遊輪 */
.CruiseShip{
  
  width: 100%;
  max-width: 100%;
}
/* 韓國 */
.SouthKorea{
  
  width: 100%;
  max-width: 100%;
}
}
