
.stroke_content img{
  margin: auto 5px;
  width: 20px;
  height:20px;
}
.stroke_content h5{
  margin: 0 5px;
}
#price_project{
   width: 100px;
  flex-wrap: nowrap;
}

/* 日本 */
.Japan  {
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  left: 8em;
  margin-right: 10px;
  align-items: center;
  position: relative;
  display: flex;
  color: #F22478;
  
}
/* 中西歐 */
.Cwe{
  
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #F22478;
}
/* 中亞蒙古國 */
.Mca{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #A68944;
}
/* 中東 */
.MiddleEast{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #EEBE00;
}
/* 中國 */
.China{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #FF3E2A;
}
/* 北歐 */
.Nordic{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #008D53;
}
/* 東南亞 */
.SoutheastAsia{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #7244BD;
}
/* 東歐 */
.EasternEurope{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #EE7B1A;
}
/* 河輪 */
.RiverBoat{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #0093AD;
}
/* 非洲 */
.Africa{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #A84503;
}
/* 南亞 */
.SouthAsia{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #08C19C;
}
/* 南歐 */
.SouthernEurope{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #0090EC;
}
/* 美洲 */
.America{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #CB1F1F;
}
/* 海島 */
.Island{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #00C3ED;
}
.NewZealandAndAustralia{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #79B118;
}
.CruiseShip{
  margin-left: auto;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #0C5BD2;
}
.SouthKorea{
  margin-left: auto;
  margin-right: 1em;
  width: 50%;
  max-width: 50%;
  margin-right: 10px;
  left: 8em;
  align-items: center;
  position: relative;
  display: flex;
  color: #1C34AD;
}
/* 日期結果 */
.result{
  padding-left: 5px;
  width: 70%;
}
/* 手機版 */
@media only screen and (max-width: 600px) {
  
  .Japan{
    margin-left: 0;
    width: 100%;
  }
  /* 中西歐 */
.Cwe{
  margin-left: 0;
  width: 100%;
}
/* 中亞蒙古國 */
.Mca{
  margin-left: 0;
  width: 100%;
}
/* 中東 */
.MiddleEast{
  margin-left: 0;
  width: 100%;
}
/* 中國 */
.China{
  margin-left: 0;
  width: 100%;
}
/* 北歐 */
.Nordic{
  margin-left: 0;
  width: 100%;
/* 東南亞 */
}
.SoutheastAsia{
  margin-left: 0;
  width: 100%;
}
/* 東歐 */
.EasternEurope{
  margin-left: 0;
  width: 100%;
}
/* 河輪 */
.RiverBoat{
  margin-left: 0;
  width: 100%;
}
/* 非洲 */
.Africa{
  margin-left: 0;
  width: 100%;
}
/* 南亞 */
.SouthAsia{
  margin-left: 0;
  width: 100%;
}
/* 南歐 */
.SouthernEurope{
  margin-left: 0;
  width: 100%;
}
/* 美洲 */
.America{
  margin-left: 0;
  width: 100%;
}
/* 海島 */
.Island{
  margin-left: 0;
  width: 100%;
}
.NewZealandAndAustralia{
  margin-left: 0;
  width: 100%;
}
.CruiseShip{
  margin-left: 0;
  width: 100%;
}
.SouthKorea{
  margin-left: 0;
  width: 100%;
}
}
@media only screen and (max-width: 768px){

  .Japan{
    margin-left: 0;
    width: 100%;
  }
  /* 中西歐 */
.Cwe{
  margin-left: 0;
  width: 100%;
}
/* 中亞蒙古國 */
.Mca{
  margin-left: 0;
  width: 100%;
}
/* 中東 */
.MiddleEast{
  margin-left: 0;
  width: 100%;
}
/* 中國 */
.China{
  margin-left: 0;
  width: 100%;
}
/* 北歐 */
.Nordic{
  margin-left: 0;
  width: 100%;
/* 東南亞 */
}
.SoutheastAsia{
  margin-left: 0;
  width: 100%;
}
/* 東歐 */
.EasternEurope{
  margin-left: 0;
  width: 100%;
}
/* 河輪 */
.RiverBoat{
  margin-left: 0;
  width: 100%;
}
/* 非洲 */
.Africa{
  margin-left: 0;
  width: 100%;
}
/* 南亞 */
.SouthAsia{
  margin-left: 0;
  width: 100%;
}
/* 南歐 */
.SouthernEurope{
  margin-left: 0;
  width: 100%;
}
/* 美洲 */
.America{
  margin-left: 0;
  width: 100%;
}
/* 海島 */
.Island{
  margin-left: 0;
  width: 100%;
}
.NewZealandAndAustralia{
  margin-left: 0;
  width: 100%;
}
.CruiseShip{
  margin-left: 0;
  width: 100%;
}
.SouthKorea{
  margin-left: 0;
  width: 100%;
}
}
@media only screen and (max-width: 1024px){
 
  .Japan{
     margin-left: 50px;
    width: 100%;
     max-width: 100%;
  }
  /* 中西歐 */
.Cwe{
  margin-left: 50px;
  width: 100%;
}
/* 中亞蒙古國 */
.Mca{
  margin-left: 50px;
  width: 100%;
}
/* 中東 */
.MiddleEast{
  margin-left: 50px;
  width: 100%;
}
/* 中國 */
.China{
  margin-left: 50px;
  width: 100%;
}
/* 北歐 */
.Nordic{
  margin-left: 50px;
  width: 100%;
/* 東南亞 */
}
.SoutheastAsia{
  margin-left: 50px;
  width: 100%;
}
/* 東歐 */
.EasternEurope{
  margin-left: 50px;
  width: 100%;
}
/* 河輪 */
.RiverBoat{
  margin-left: 50px;
  width: 100%;
}
/* 非洲 */
.Africa{
  margin-left: 50px;
  width: 100%;
}
/* 南亞 */
.SouthAsia{
  margin-left: 50px;
  width: 100%;
}
/* 南歐 */
.SouthernEurope{
  margin-left: 50px;
  width: 100%;
}
/* 美洲 */
.America{
  margin-left: 50px;
  width: 100%;
}
/* 海島 */
.Island{
  margin-left: 50px;
  width: 100%;
}
/* 紐澳 */
.NewZealandAndAustralia{
  margin-left: 50px;
  width: 100%;
}
/* 遊輪 */
.CruiseShip{
  margin-left: 50px;
  width: 100%;
}
/* 韓國 */
.SouthKorea{
  margin-left: 50px;
  width: 100%;
}
}
