@charset "UTF-8";

/* CSS Document */

/*============== FitTrip-banner ==============*/
.banner{
    height: 700px;
    width: 100%;
    background-image: url(../FitTrip/images/FitTrip-banner-pic.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.banner .container{
    max-width: 1000px;
    padding-top: 50px;
}

.banner h1{
    font-size: 3rem;
    margin-bottom: 80px;
}

.banner h1 span{
    font-size: 2.2rem;
}

#fit_AirTicket-area {
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

#AirTicket-area{
    width: 100%;
    height: 100%;
}

.iframe-tab{
    position: absolute;
    top: -41px;
}

.iframe-tab button{
    background-color: #FFF;
    border:none;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #ffde00;
    color: #000000;
    padding: 8px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.iframe-tab button.active{
    background-color: #ffde00;
}



/*============== 麵包屑 ==============*/

.navigate-BGcolor{
    background-color: #fff1db;
    padding: 5px 0;
}

.FitTrip-navigate {
    margin: 10px 0;
    font-size: .875rem;
    color: #0c02de;
    float: right;
}

.FitTrip-navigate a {
    text-decoration: underline;
    color: #000;
}

.FitTrip-navigate a:after {
    content: ">";
    display: inline-block;
    margin-left: 6px;
}

/*清除浮動*/
.float-clean {
    clear: both;
    visibility: hidden;
}


/*============== 行程內容 ==============*/
#list {
    padding: 20px 0;
    margin-bottom: 40px;
    margin-top: 30px;
}

.list-box{
    width: calc((100% - 40px) / 3);
    margin-bottom: 20px;
}

.list-tool .none{
    visibility: hidden;
}

#list ul.list-tab {
    margin: 0 auto 30px;
    border-bottom: solid 1px #757575;
}

ul.list-tab li {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    margin-bottom: -2px;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    font-size: 1.75rem;
    position: relative;
}

ul.list-tab li a {
    color: #8a8a8a;
    display: block;
    padding-bottom: 5px;
    padding-right: 30px;
}

.list-tab .list-recommend.selected,
.list-tab .list-sale.selected{
    border-bottom: solid 6px #8c001a;
    position: relative;
}

ul.list-tab .list-recommend.selected a, 
ul.list-tab .list-recommend:hover a,
ul.list-tab .list-sale.selected a, 
ul.list-tab .list-sale:hover a{
    color: #000000;
    font-family: 'Noto Sans TC';
    transition: .3s;
}

ul.list-tab .list-recommend.selected:after,
ul.list-tab .list-sale.selected:after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 12px 8px 12px 8px;
    border-style: solid;
    border-color: #8c001a transparent transparent transparent;
}

.list-tool{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-box-area hr {
    background: #d2d2d2;
    height: 1px;
    border: 0;
}

.list-area .list-box{
    width: 33.33%;
    padding: 0 20px;
    margin-bottom: 20px;
}

.list-box-pic{
    position: relative;
    overflow: hidden;
    line-height: 0;
    background: #000;
}

.list-box:hover .list-box-pic img {
    opacity: 0.6;
    transform: scale(1.1);
}

.list-box:hover h3.list-box-title {
    color: #8c100a;
}

.list-box-pic img{
    width: 100%;
    transition: .5s;
}

.list-box-area{
    border: solid 1px #aaa;
    border-top: none;
    padding: 25px 5% 15px 5%;
}

h3.list-box-title {
    font-size: 1.125rem;
    margin-bottom: 15px;
    line-height: 21px;
    height: 42px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: .5s;
}

.list-box-note {
    font-size: .875rem;
    color: #676767;
    font-weight: bold;
    line-height: 16px;
    height: 34px;
    margin: 15px 0 10px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list-box-price {
    font-family: Arial;
    font-size: 2.125rem;
    font-weight: bold;
    color: #c10000;
    letter-spacing: .1rem;
}

.list-box-price:before {
    content: "NT.";
    font-size: 1.125rem;
    color: #000;
    font-family: Microsoft JhengHei, "微軟正黑體";
}

.list-box-price:after {
    content: "起";
    font-size: 1.125rem;
    color: #000;
    font-family: Microsoft JhengHei, "微軟正黑體";
}


/*============== RWD ==============*/
@media (max-width: 768px){
    .list-box {
        width: calc((100% - 40px) / 2);
    }
    .banner .container {
    padding-top: 25px;
    }
    .banner h1 {
    margin-bottom: 70px;
    }
    .banner{
    height: 900px;
    background-image: url(../FitTrip/images/FitTrip-banner-PhonePic.jpg);
    }
}

@media (max-width: 600px){
    .list-box {
    width: 100%;
    }  
    .list-tool .none{
    display: none;
    } 
}


@media (max-width: 400px){
    .banner{
    height: 950px;
    }
    ul.list-tab li a {
    padding-right: 0px;
    }
}