@charset "UTF-8";
/* CSS Document */
/* 行程內頁天不fixed */
header#header {
  position: static;
}
#wrapper-main {
  padding-top: 0;
}
section .container {
  position: static;
}
/*============== TripMain ==============*/
#TripMain {}
.TripMain-navigate {
  margin: 20px 5px 0;
  font-size: 0.875rem;
}
.TripMain-navigate a {
  text-decoration: underline;
  color: #000;
}
.TripMain-navigate a:after {
  content: ">";
  display: inline-block;
  margin-left: 6px;
}
.TripMain-navigate a:last-of-type:after {
  content: "";
}
h1.tripTitle {
  font-size: 2rem;
  padding: 15px 0;
  margin: 15px 0;
  border-bottom: solid 5px #8c001a;
  display: flex;
  align-items: center;
}
.tripTitle span {
  font-size: 20px;
  background: #8c001a;
  color: white;
  padding: 2px 15px;
  border-radius: 30px;
  margin-right: 10px;
}
/* 行程上方資料 */
.TripMain-tool {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* 月曆隱藏，內容先滿版 */
.TripMain-info {
  width: 100%;
}
ul.TripMain-infoDetail {
  padding: 15px 0;
  border-bottom: solid 1px #959595;
  font-size: 1.25rem;
  margin-bottom: 2px;
}
.TripMain-hr {
  border: none;
  border-bottom: solid 1px #959595;
}
ul.TripMain-infoDetail li {
  display: inline-block;
  border-right: solid 1px #000;
  padding-right: 10px;
  margin-right: 10px;
}
ul.TripMain-infoDetail li:last-of-type {
  border-right: none;
}
ul.TripMain-infoDetail li span {
  color: #00aeff;
  font-weight: bold;
}
.TripMain-discount {
  margin-top: 15px;
}
.TripMain-discount h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  background-color: #e82561;
  padding: 2px 5px;
  margin-bottom: 10px;
}
.TripMain-discount p {
  padding-bottom: 15px;
  border-bottom: solid 5px #c9c9c9;
  line-height: 21px;
}
.TripMain-flexOrder {
  display: flex;
  flex-wrap: wrap;
}
.TripMain-list {
  font-size: 1.25rem;
  width: 25%;
  margin: 10px 0;
  border-right: solid 1px #c2c2c2;
  text-align: center;
}
.TripMain-list a {
  padding: 15px 0;
  display: block;
  color: #6d6d6d;
  transition: 0.5s;
}
.TripMain-list a:hover {
  color: #8c001a;
}
.TripMain-noline {
  border-right: none;
}
.TripMain-point {
  font-weight: bold;
  color: #000;
  padding: 15px 0;
  position: relative;
}
.TripMain-point:after {
  content: url(../images/20_trip_icon.png);
  width: 17px;
  height: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
/* 日曆 */
h2.fc-toolbar-title {
  color: #8c001a;
}

.fc .fc-button:not(:disabled),
.fc .fc-button-primary:disabled {
  background: none !important;
  border: none !important;
  color: #333 !important;
  font-weight: bolder !important;
}

.fc .fc-button:disabled {
  opacity: .5 !important;
}

button.fc-customnext-button.fc-button.fc-button-primary {
  background: #8c001a !important;
  color: #fff !important;
}

/* 分享按鈕 */
.TripMain-shareBtn {
  position: relative;
}
.TripMain-share {
  display: none;
  position: absolute;
  width: 200px;
  border: solid 1px #e0e0e0;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  background: rgba(255, 255, 255, 0.8);
}
.TripMain-share a {
  padding: 10px 0;
}
@media (max-width:1450px) {
  .tripcal-calendar,
  .TripMain-info {
      width: 100% !important;
  }
}
@media (max-width: 768px) {
  .TripMain-share {
    position: initial;
    left: initial;
    transform: initial;
    margin: 0 auto;
    border: none;
  }
}
.map-hide-pc {
  display: none;
}
/* 航班資訊 */
.TripMain-plant {
  width: 100%;
  background: #fcf2e3;
  border-top: solid 1px #959595;
  border-bottom: solid 1px #959595;
  color: #757575;
  font-weight: bold;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plant-tool {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 50%;
}
.plant-tool:first-of-type {
  border-right: dotted 1px #959595;
}
.plant-go,
.plant-back {
  font-size: 1.25rem;
  border-right: solid 3px #8c001a;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.plant-list-tool {
  padding: 5px 0;
  width: 80%;
}
.plant-list {
  padding: 5px 2px;
  border-bottom: solid 1px #959595;
  line-height: 18px;
}
.plant-list:last-of-type {
  border-bottom: none;
}
.plant-note {
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 0.875rem;
  border-top: dotted 1px #cecece;
}
.plant-note a {
  color: #0096ff;
}
/*
.plant-note .hidden-pc {
    display: none;
}
*/
/* 日期價錢報名 */
.TripMain-orderTool {
  max-width: 650px;
  margin-left: calc(100% - 650px);
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  margin-bottom: 20px;
  align-items: flex-end;
  justify-content: space-between;
}
.TripMain-date {
  /* width: 33%; */
  color: #757575;
  font-size: 1.625rem;
}
.TripMain-price {
  /* width: 33%; */
  margin-bottom: -7px;
  font-size: 1.25rem;
}
.TripMain-price span.price-client {
  color: #df0000;
  font-family: "Arial", "微軟正黑體";
  font-size: 3rem;
}
.TripMain-price span.price-none {
  color: #df0000;
  font-family: Microsoft JhengHei, "微軟正黑體";
  font-size: 2rem;
}
.TripMain-price span.price-none:after {
  content: "";
  height: 7px;
  width: 100%;
  display: block;
}
.TripMain-btn {
  /* width: 33%; */
}
.TripMain-btn a {
  font-size: 1.2rem;
  color: #fff;
  background: #8c001a;
  border-radius: 20px;
  padding: 8px 24px;
  display: inline-block;
  transition: 0.5s;
}
.TripMain-btn a:hover {
  background: #bb1b3a;
}
/* 手機價錢報名 */
.orderTool-m {
  visibility: hidden;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e3e3e3;
  background: #fff;
  display: flex;
  align-items: center;
  z-index: 999;
}
.orderTool-price {
  width: 60%;
  font-size: 1rem;
  text-align: right;
}
.orderTool-price span.price-client {
  color: #df0000;
  font-family: "Arial";
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
}
.orderTool-price span.price-none {
  color: #df0000;
  font-family: Microsoft JhengHei, "微軟正黑體";
  font-weight: bold;
  font-size: 1.5rem;
}
.orderTool-btn {
  width: 40%;
  text-align: right;
}
.orderTool-btn a {
  color: #fff;
  background: #8c001a;
  border-radius: 20px;
  padding: 10px 24px;
  display: block;
  text-align: center;
  width: 85%;
  min-width: 100px;
  margin: 0 auto;
}
/*============== TripContent ==============*/
#TripContent {
  width: 100%;
}
#TripContent section {
  margin-bottom: 40px;
}
/* 選單指標 */
nav#TripNav {
  background: #f4f3f3;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 99 !important;
}
ul.TripNav-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
ul.TripNav-list li {
  width: 25%;
  text-align: center;
  position: relative;
  padding: 13px 0 14px;
}
ul.TripNav-list li.active:before {
  content: "";
  display: block;
  border-bottom: 6px solid #ffd800;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
}
ul.TripNav-list li a {
  padding: 5px 0;
  display: block;
  border-right: solid 1px #959595;
}
ul.TripNav-list li a.TripNav-noline {
  border-right: none;
}
h3.main-title {
  font-size: 1.75rem;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei';
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 2em;
  position: relative;
}
h3.main-title:after {
  content: "";
  background: url(../images/20_exhTitle_icon01.png) no-repeat center center;
  width: 8px;
  height: 30px;
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
}
/* 行程地圖 */
#section-map {
  background: url(../images/20_trip_map_bg.jpg) repeat;
  padding: 20px 0;
  text-align: center;
}
#section-map img {
  max-width: 100%;
}
/* 行程大圖 */
#section-tripBanner {
  margin-top: 40px;
}
#section-tripBanner .container {
  width: 100%;
}
#TripBanner-owl-carousel {
  position: relative;
}
#TripBanner-owl-carousel .owl-nav {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
}
#TripBanner-owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  font-size: 8rem;
  line-height: 0;
  color: #e5e5e5;
}
#TripBanner-owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
  font-size: 8rem;
  line-height: 0;
  color: #e5e5e5;
}
#TripBanner-owl-carousel .owl-nav .disabled {
  opacity: 0;
}
#TripBanner-owl-carousel .owl-nav [class*=owl-]:hover,
#TripBanner-owl-carousel .owl-nav [class*=owl-]:focus {
  background: transparent;
  outline: none;
}
figure.tripBanner-video,
figure.tripBanner-box {
  width: 100%;
}
figcaption.tripBanner-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 2%;
  background: #fff;
}
figcaption.tripBanner-flex h2 {
  width: 180px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 1.75rem;
  border-right: solid 5px #ffd800;
}
figcaption.tripBanner-flex h2 span {
  font-size: 1rem;
  color: #aaa;
  display: block;
  margin-top: 5px;
}
figcaption.tripBanner-flex p {
  width: calc(100% - 180px);
  padding-left: 2%;
  font-size: 0.875rem;
  line-height: 21px;
}
figcaption.tripBanner-flex p span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1rem;
}
.box_container {
  padding-bottom: 46%;
  padding-top: 2px;
  background-size: cover;
  background-position: center;
}
.video_container {
  position: relative;
  padding-bottom: 46%;
  padding-top: 2px;
  height: 0;
  overflow: hidden;
}
.video_container iframe,
.video_container object,
.video_container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0 none;
}
/* 貼心好禮 */
.gift-bg {
  position: relative;
  padding: 45px 0;
  background-color: #f4f3f3;
}
.gift-layout div {
  position: relative;
}
.gift-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 150px;
}
.gift-layout img {
  vertical-align: middle;
  display: inline-block;
}

.gift-layout li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 1px;
  background-color: #dabf98;
}

.gift-layout .slick-slide:last-of-type li::after {
  display: none;
}

#slick-img li img {
  height: 113px;
}
.slick-dots li {
  margin: 0 2px;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
}
.slick-dots li.slick-active button {
  background-color: #8c001a;
}
/* .slick-dots {
  position: absolute;
  bottom: -110px;
  left: 50%;
  transform: translateX(-50%);
} */

.arrowN-btn {
  position: absolute;
  bottom: 54px;
  right: -13px;
  cursor: pointer;
}

.arrowP-btn {
  position: absolute;
  top: 51PX;
  left: -14px;
  cursor: pointer;
}

@media (max-width:1024px) {
  .gift-layout li::after {
    display: none;
  }
}
@media (max-width: 460px) {
  .gift-bg {
    padding: 10px 0;
  }
  #slick-img li img {
    height: 90px;
  }
  #slick-img li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gift-layout li::after {
    display: none;
  }
  .arrowN-btn,
  .arrowP-btn {
    height: 30px;
  }

  .arrowN-btn {
    position: absolute;
    bottom: 68px;
    right: -13px;
    cursor: pointer;
  }
  .slick-dots {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* 行程重點 */
#section-highlights {
  width: 100%;
  background-color: #fdf7ee;
  padding: 35px 0;
  margin-bottom: 20px;
}
.highlights_tool {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.img_tool {
  position: relative;
}
.highlights_pic img {
  width: 100%;
  max-width: 650px;
}
.highlights_pic .PIC_description {
  background-color: #8c001a;
  color: #fff;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  text-align: right;
  font-weight: bold;
}
.highlights_pic {
  width: 650px;
}
.highlights_content {
  width: calc(100% - 680px);
  padding-top: 10px;
}
.highlights_content h2 {
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 1.25rem;
}
.highlights_content h2:after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: #ffd800;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
.highlights_content span {
  font-size: 1rem;
  color: #aaa;
  margin-left: 6px;
}
.highlights_list {
  line-height: 21px;
  max-height: 335px;
  overflow-y: auto;
}
@media screen and (max-width: 1280px) {
  .highlights_pic {
    width: 550px;
  }
  .highlights_content {
    width: calc(100% - 580px);
  }
  .highlights_list {
    max-height: 280px;
  }
}
@media screen and (max-width: 992px) {
  .highlights_pic {
    width: 450px;
  }
  .highlights_content {
    width: calc(100% - 480px);
  }
  .highlights_list {
    max-height: 210px;
  }
}
.highlights_list p {
  font-size: 0.9375rem;
  margin-bottom: 10px;
}
.highlights_list p:last-of-type {
  margin-bottom: 0;
}
.highlights_list p:before {
  content: "◆";
  color: #0193e8;
  margin-right: 5px;
}
/* Let's get this party started */
.highlights_list::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.highlights_list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
.highlights_list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(189, 189, 189, 0.5);
}
.highlights_list::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(189, 189, 189, 0.5);
}
/* 行程特色 */
.section-spec {
  margin-bottom: 20px;
}
h4.spec-title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
h4.spec-title span {
  background: #fff100;
  background: linear-gradient(transparent 80%, #fff100 0%);
  padding: 0 10px;
}
.spec-content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.spec-content img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.spec-photo {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.spec-photo-pic {
  background-position: center;
}
.spec-photo:after {
  content: "";
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(transparent 55%, rgba(0, 0, 0, 0.7));
  position: absolute;
  left: 0;
  bottom: 0;
}
.spec-photo figcaption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 80%;
  max-width: 600px;
  z-index: 1;
}
.spec-photo figcaption h5 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.spec-photo figcaption p {
  font-size: 0.875rem;
  line-height: 21px;
}
.spec-card {
  width: 100%;
  position: relative;
}
.spec-card:before {
  content: "";
  background: #efefef;
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.Spec-owl-carousel {
  width: 95%;
  margin-left: 2.5%;
  position: relative;
  padding-bottom: 30px;
  position: relative;
}
.Spec-owl-carousel .owl-nav {
  position: absolute;
  top: 26%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
}
.Spec-owl-carousel .owl-nav .disabled {
  opacity: 0;
}
.Spec-owl-carousel .owl-nav [class*=owl-]:hover,
.Spec-owl-carousel .owl-nav [class*=owl-]:focus {
  background: transparent;
  outline: none;
}
.Spec-owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 0;
}
.Spec-owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
}
.Spec-owl-carousel .owl-dots .owl-dot {
  outline: none;
}
.owl-dots {
  margin-top: 20px;
  outline: none;
}
.Spec-owl-carousel .owl-dots .owl-dot span {
  margin: 5px;
}
.Spec-owl-carousel .owl-dots .owl-dot.active span,
.Spec-owl-carousel .owl-dots .owl-dot:hover span {
  background: #000;
}
.spec-box figcaption {
  background: #fff;
  padding: 15px;
}
.spec-box figcaption h5 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.spec-box figcaption p {
  font-size: 0.875rem;
  line-height: 21px;
  height: 97px;
  overflow-y: auto;
}
/* Let's get this party started */
.spec-box figcaption p::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.spec-box figcaption p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
.spec-box figcaption p::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(189, 189, 189, 0.5);
}
.spec-box figcaption p::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(189, 189, 189, 0.5);
}
/* 舊特色 */
#TripContent #section-featureOld {
  margin-bottom: 40px;
}
.trip_feature {
  width: 100%;
  max-width: 1200px;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin: auto;
  line-height: 0;
}
.tour_characteristic_tool_Intro img {
  max-width: 100%;
  height: auto;
}
#fade_pic0,
#fade_pic1,
#fade_pic2,
#fade_pic3,
#fade_pic4,
#fade_pic5,
#fade_pic6,
#fade_pic7,
#fade_pic8,
#fade_pic9,
#fade_pic10,
#fade_pic11,
#fade_pic19,
#fade_pic20,
#fade_pic21,
#fade_pic22,
#fade_pic23 {
  min-width: auto;
}
div[id^=fade] {
  height: auto !important;
  position: relative;
  width: 100%;
}
div[id^=fade] a.ad:first-child {
  position: relative !important;
  display: block !important;
}
div[id^=fade] a.ad {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.trip_feature table td {
  height: inherit;
}
/* 行程內容 */
.trip_section {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}
.trip_day_tool {
  width: 100%;
  position: relative;
}
#trip_day_slider {
  line-height: 30px;
  margin-top: 45px;
  padding-right: 20px;
  text-align: center;
  position: absolute;
  left: -5%;
  width: 50px !important;
}
.sticky-wrapper #trip_day_slider {
  height: 0;
}
.sticky-wrapper.is-sticky #trip_day_slider {
  height: inherit;
  /*    left: 10px;*/
  left: calc((93% - 1300px) / 2);
}
@media screen and (max-width: 1480px) {
  .sticky-wrapper.is-sticky #trip_day_slider {
    left: 10px;
  }
}
#trip_day_slider a {
  color: #bfbfbf;
  font-size: 1.24rem;
  display: block;
  margin-bottom: 5px;
  font-family: Times New Roman;
}
#trip_day_slider .bt_active {
  font-size: 1.75rem;
  color: #323232;
  font-weight: bold;
}
.trip_day {
  border-bottom-style: double;
  border-bottom-color: #d4d4d4;
  margin-bottom: 35px;
  width: 100%;
  overflow: hidden;
}
.trip_day_title {
  align-items: baseline;
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}
.trip_day_title_close:before {
  content: "看更多\f0d7";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  color: #787878;
  font-size: 1rem;
  visibility: hidden;
  text-decoration: underline;
}
.trip_day_title_open:before {
  content: "看更多\f0d8";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  color: #787878;
  font-size: 1rem;
  visibility: hidden;
  text-decoration: underline;
}
.trip_day_number {
  font-size: 2rem;
  margin-right: 20px;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.trip_day_number span {
  color: #8c001a;
}
.trip_day_title h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 4px;
  line-height: 35px;
}
.trip_day_content {
  margin-bottom: 20px;
  line-height: 25px;
}
.trip_day_content_pic {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
}
/* 圖片張數顯示 */
.trip_day_content_pic img {
  overflow: hidden;
}
.trip_day_content_pic.col_3 img {
  width: 33%;
}
.trip_day_content_pic.col_2 img {
  width: 49.5%;
}
/* 餐食跟旅館的bar */
.trip_day_info {
  display: flex;
  background-color: #fcf2e3;
  min-height: 100px;
  padding: 25px 30px;
  margin-top: 20px;
  clear: both;
}
.trip_day_info_food {
  width: 50%;
  display: flex;
}
.trip_day_info_hotel {
  width: 50%;
  display: flex;
}
.trip_day_info h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-left: 4px;
}
.trip_day_info a {
  color: #9b0014;
  transition: all .2s;
}

.trip_day_info a:hover {
  color: blue;
}
.trip_day_info_food_title,
.trip_day_info_hotel_title {
  width: 10%;
  border-right: 1px solid #dcdcdc;
  margin-right: 10px;
  min-width: 55px;
}
.trip_day_info_food_title img,
.trip_day_info_hotel_title img {
  max-width: 42px;
}
.trip_day_info_food_content,
.trip_day_info_hotel_content {
  width: 90%;
  font-size: 0.88rem;
  line-height: 20px;
  margin-left: 5px;
  padding-top: 5px;
}
/* 貼心提醒 */
.trip_remind {
  width: 100%;
}
.trip_remind h3 {
  color: #da346b;
  margin-bottom: 10px;
  position: relative;
  /* width: 85px; */
  width: auto;
  font-size: 18.72px;
  font-weight: bold;
  line-height: initial;
}
/* .trip_remind h3:after,
.trip_remind h3:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 0;
  width: 0;
  height: 0;
  border-radius: 10px;
  border: 10px solid transparent;
  border-left-color: #da346b;
} */
.trip_remind h3:after {
  margin-right: 5px;
  border-left-color: #fff;
}
ol.trip_remind_area {
  padding-left: 25px;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
}
ol.trip_remind_area li {
  margin-bottom: 5px;
  list-style: decimal;
  list-style-position: outside;
}
ol.trip_remind_area li span {
  font-size: 14px;
  font-weight: bold;
}
.trip_remind_area table {
  border-collapse: collapse;
}

.trip_remind_area table,
.trip_remind_area tr {
  border: 1px solid #000;
}

.trip_remind_area td {
  border-right: 1px solid #000;
  padding: 1rem;
}

.trip_remind hr {
  margin: 2rem 0;
}
/* 團費詳細資訊 */
.trip-detail {
  width: 100%;
  overflow: hidden;
}
.TP_top_list_table {
  width: 100%;
  line-height: 24px;
  border-bottom: solid 1px #e9e9e9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.TP_block {
  display: inline-block;
  margin-right: 5%;
}
.TP_block:first-of-type {
  display: block;
}
.TP_block:last-of-type {
  margin-right: 0;
}
.TP_title {
  font-weight: bold;
  display: inline-block;
}
#TP_groupNumber {
  font-family: Verdana, Geneva, sans-serif;
  color: #c80000;
  font-size: 0.875rem;
  margin-right: 10px;
  display: inline-block;
}
#TP_Name {
  color: #333;
  font-size: 0.875rem;
  font-weight: bold;
  display: inline-block;
}
.TP_date {
  font-size: 0.875rem;
}
.TP_deposit {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #f80000;
}
#TP_center_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  justify-content: space-between;
}
#TP_center_list_left {
  width: 100%;
  border: solid 1px #e9e9e9;
  border-bottom: none;
  border-right: none;
  margin-bottom: 20px;
}
.TP_left_description {
  background-color: #e9e9e9;
  line-height: 22px;
  font-weight: bold;
  color: #323232;
  padding: 8px 0;
  text-align: center;
}
.TP_left_title {
  width: 25%;
  line-height: 36px;
  font-weight: bold;
  color: #323232;
  float: left;
  text-align: center;
  border: solid 1px #e9e9e9;
  border-top: none;
  border-left: none;
}
.TP_left_money {
  float: left;
  font-size: 0.9375rem;
  line-height: 36px;
  width: 25%;
  text-align: center;
  border: solid 1px #e9e9e9;
  border-top: none;
  border-left: none;
}
.TP_left_money_all {
  font-weight: bold;
  color: #fe0000;
  font-family: Verdana, Geneva, sans-serif;
}
.TP_left_money_none {
  color: #323232;
}
#TP_center_list_right {
  width: 100%;
}
.TP_center_list_right_top {
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  width: 100%;
  margin-bottom: 2px;
}
.TP_center_list_right_top_tip {
  line-height: 22px;
  color: #323232;
  font-weight: bold;
  background-color: #e9e9e9;
  width: 25%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TP_center_list_right_top_content {
  line-height: 24px;
  font-size: 0.9375rem;
  color: #656565;
  padding: 5px 10px;
  width: 75%;
}
.TP_center_list_right_bottom {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.TP_center_list_right_bottom_ps {
  color: #323232;
  font-weight: bold;
  background-color: #e9e9e9;
  width: 25%;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TP_center_list_right_bottom_content {
  font-size: 0.9375rem;
  line-height: 24px;
  color: #656565;
  width: 75%;
  padding: 5px 10px;
}
#TP_bottom_list {
  width: 100%;
  font-size: 0.875rem;
  padding-top: 15px;
  padding-bottom: 15px;
  padding: 10px 5px;
  clear: both;
  line-height: 20px;
}
#TP_button {
  height: 29px;
  width: 93px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .plant-tool {
    width: 100%;
  }
  .plant-tool:first-of-type {
    border-right: none;
    border-bottom: dotted 1px #959595;
  }
  .plant-go,
  .plant-back {
    width: 65px;
    margin-right: 15px;
    justify-content: flex-start;
  }
  .plant-list-tool {
    width: calc(100% - 80px);
  }
  .plant-note {
    margin-top: 10px;
  }
}
/*============== 平版尺寸 ==============*/
@media (max-width: 1052px) {
  h1.tripTitle {
    flex-wrap: wrap;
  }
  .tripTitle p {
    width: 100%;
  }
  .tripTitle span {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 768px) {
  h1.tripTitle {
    padding: 15px 0;
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 5px;
  }
  /* 行程上方資料 */
  .TripMain-list {
    width: 100%;
    margin: 0;
    border-right: none;
    border-bottom: solid 1px #c2c2c2;
  }
  .TripMain-point {
    border-bottom: none;
  }
  .TripMain-plant {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 0.875rem;
  }
  .plant-note {
    margin-top: 0;
  }
  .plant-list-tool {
    width: 100%;
  }
  .plant-tool {
    padding: 10px 0;
  }
  .plant-go,
  .plant-back {
    width: 60px;
    border-right: solid 5px #8c001a;
    color: #000;
  }
  .TripMain-share a {
    padding: 0 0 10px 0;
  }
  /*
  .plant-note .hidden-pc {
      display: block;
  }

  .map-hide-pc {
    display: block;
  }
  /* 排列順序調整 */
  .TPO1 {
    -webkit-order: 1;
    order: 1;
  }
  .TPO5 {
    -webkit-order: 2;
    order: 2;
  }
  .TPO2 {
    -webkit-order: 3;
    order: 3;
  }
  .TPO3 {
    -webkit-order: 4;
    order: 4;
  }
  .TPO4 {
    -webkit-order: 5;
    order: 5;
  }
  .TPO6 {
    -webkit-order: 6;
    order: 6;
  }
  .TripMain-date,
  .TripMain-price,
  .TripMain-btn {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .TripMain-btn a {
    width: 50%;
    max-width: 200px;
  }
  .TripMain-orderTool {
    margin: 10px auto;
  }
  .TripMain-orderTool>div {
    margin: 5px 0;
  }
  /* 選單指標 */
  nav#TripNav {
    font-size: 1.125rem;
  }
  ul.TripNav-list li {
    padding: 5px 0;
  }
  ul.TripNav-list li a {
    border-right: none;
    padding: 10px 0;
  }
  h3.main-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  h3.main-title:after {
    width: 4px;
    height: 15px;
    bottom: -3px;
    left: 50%;
  }
  /* 地圖隱藏 */
  /* #section-map {
    display: none;
  } */
  /* 行程大圖 */
  .box_container,
  .video_container {
    padding-bottom: 70%;
  }
  #TripContent section {
    margin-top: 0;
    margin-bottom: 10px;
  }
  figcaption.tripBanner-flex {
    padding: 15px 5%;
  }
  figcaption.tripBanner-flex h2 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border-right: 0;
    border-bottom: solid 5px #ffd800;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  figcaption.tripBanner-flex h2 span {
    display: inline-block;
    margin-left: 6px;
  }
  figcaption.tripBanner-flex p {
    width: 100%;
    padding-left: 0;
  }
  /* 行程重點 */
  .highlights_pic,
  .highlights_content {
    width: 100%;
  }
  .highlights_pic img {
    max-width: 100%;
  }
  .highlights_content {
    margin-top: 20px;
  }
  .highlights_content h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .highlights_list {
    max-height: inherit;
  }
  /* 行程特色 */
  h4.spec-title {
    font-size: 1.5rem;
  }
  /* 行程內容 */
  #section-day .container {
    width: 100%;
  }
  .trip_day {
    margin-bottom: 0;
  }
  .trip_day_title {
    margin-bottom: 0;
    display: block;
    background: #eee;
    background: linear-gradient(#f4f4f4, #fff, #f4f4f4);
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
  }
  .trip_day_title h4 {
    font-size: 1.375rem;
    line-height: 28px;
  }
  .trip_day_content {
    /* 行程內容預設關閉 */
    display: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    margin-bottom: 0;
  }
  .trip_day_content.show {
    display: block;
  }
  .trip_day_content img {
    display: block;
    float: none;
    width: 100% !important;
    height: auto !important;
  }
  .trip_day_title_close:before {
    visibility: inherit;
    margin-right: 10px;
    margin-top: 8px;
  }
  .trip_day_title_open:before {
    visibility: inherit;
    margin-right: 10px;
    margin-top: 8px;
  }
  /* 圖片張數顯示 */
  .trip_day_content_pic.col_2 img,
  .trip_day_content_pic.col_3 img {
    width: 100% !important;
    height: auto !important;
    display: block;
  }
  .trip_day_content_pic img:nth-child(2),
  .trip_day_content_pic img:nth-child(3) {
    display: none;
  }
  .trip_day_info {
    margin-left: -6%;
    width: 112%;
    padding: 20px 6%;
  }
  .trip_section {
    display: block;
  }
  #trip_day_slider {
    display: none;
  }
  .trip_day_tool {
    width: 100%;
  }
  /* 手機價錢報名 */
  .orderTool-m {
    visibility: visible;
  }
  #gotop {
    bottom: 65px;
  }
}
/*============== 手機版尺寸 ==============*/
@media (max-width: 576px) {
  .plant-list span {
    display: block;
  }
  ul.TripNav-list li {
    width: 33.33%;
  }
  .hidden-m {
    display: none;
  }
  /* 行程大圖 */
  .box_container,
  .video_container {
    padding-bottom: 70%;
  }
  #TripBanner-owl-carousel .owl-nav {
    top: 25%;
  }
  /* 行程特色 */
  .Spec-owl-carousel {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .spec-photo-pic {
    height: auto;
  }
  .spec-photo figcaption {
    position: inherit;
    bottom: 0;
    width: 90%;
    margin-top: 15px;
    text-align: left;
    color: #000;
  }
  .spec-photo:after {
    display: none;
  }
  /* 行程內容 */
  .trip_day_info {
    display: block;
  }
  .trip_day_info_food {
    width: 100%;
  }
  .trip_day_info_hotel {
    width: 100%;
    margin-top: 20px;
  }
  /* 團費詳細資訊 */
  .TP_top_list_table {
    line-height: 21px;
  }
  .TP_left_title,
  .TP_left_money {
    width: 50%;
  }
  .TP_center_list_right_top_tip,
  .TP_center_list_right_bottom_ps {
    width: 100%;
  }
  .TP_center_list_right_top_content,
  .TP_center_list_right_bottom_content {
    width: 100%;
  }
}
@media (max-width: 320px) {
  nav#TripNav {
    font-size: 1rem;
  }
}