@charset "UTF-8";

/* CSS Document */


/*============== Banner ==============*/

#main-banner {
    background: #fcf2e3;
    position: relative;
}

#main-banner img {
    width: 100%;
}

#main-banner h1{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    color: #fff;
    font-size: 3rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}


@media (max-width: 1480px) {
    #banner-owl-carousel .owl-dots .owl-dot span {
        border: solid 1px #fff;
    }
    #banner-owl-carousel .owl-dots .owl-dot.active span,
    #banner-owl-carousel .owl-dots .owl-dot:hover span {
        background: #fff;
    }
    #banner-owl-carousel.owl-theme .owl-dots {
        right: 10px;
    }
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

@media (max-width: 576px) {
    #banner-owl-carousel .owl-dots .owl-dot span {
        width: 7px;
        height: 7px;
        margin: 2px 5px;
    }
}


/*============== ServiceItem ==============*/

#ServiceItem {
    padding: 20px 0;
}

#ServiceItem h2.main-title {
    border-bottom: none;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}


.ServiceItem_wrap{
    display: flex;
    justify-content: space-between;
}

.ServiceItem_box{
    width: calc(33% - 10px);
}

.ServiceItem_box h3{
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #fcf2e3;
    text-align: center;
    
}


/*============== Brand ==============*/

#Brand {
    padding: 20px 0;
}

ul.Brand-tab {
    margin: 0 auto 30px;
    border-bottom: solid 1px #757575;
}

.Brand-tab-hidden {
    overflow-x: auto;
}

ul.Brand-tab li {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    margin-bottom: -2px;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    font-size: 1.75rem;
    position: relative;
}

ul.Brand-tab li a {
    color: #757575;
    display: block;
    padding-bottom: 5px;
    padding-right: 30px;
}

ul.Brand-tab .Brand-treasure.selected a,
ul.Brand-tab .Brand-treasure:hover a {
    color: #4a1b86;
    font-family: 'Noto Sans TC';
}

ul.Brand-tab .Brand-vision.selected a,
ul.Brand-tab .Brand-vision:hover a {
    color: #67b72d;
    font-family: 'Noto Sans TC';
}

ul.Brand-tab .Brand-treasure.selected {
    border-bottom: solid 6px #4a1b86;
    position: relative;
}

ul.Brand-tab .Brand-vision.selected {
    border-bottom: solid 6px #67b72d;
    position: relative;
}

ul.Brand-tab .Brand-treasure.selected:after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 12px 8px 12px 8px;
    border-style: solid;
    border-color: #4a1b86 transparent transparent transparent;
}

ul.Brand-tab .Brand-vision.selected:after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 12px 8px 12px 8px;
    border-style: solid;
    border-color: #67b72d transparent transparent transparent;
}

ul.Brand-tab li b {
    font-weight: normal;
    display: none;
    font-size: .9rem;
    margin-bottom: 5px;
    pointer-events: none;
    font-family: Microsoft JhengHei, "微軟正黑體";
}

ul.Brand-tab li i {
    font-style: normal;
    font-size: 1.125rem;
    pointer-events: none;
}

.Brand-hidden {
    overflow-x: auto;
}

.Brand-tool {
    display: flex;
    /*    flex-wrap: wrap;*/
}

@media (max-width: 1000px) {
    .Brand-tool {
        min-width: 1000px;
        overflow: auto;
    }
}

figure.Brand-box {
    /*
    width: 32%;
    margin: 0 2% 10px 0;
*/
    width: calc((100% - 40px) / 3);
    margin: 0 20px 10px 0;
    line-height: 0;
    overflow: hidden;
    background: #000;
    position: relative;
}

figure.Brand-box:last-of-type {
    margin-right: 0;
}

figure.Brand-box img {
    width: 100%;
    transition: all 0.35s ease-out 0s;
    background: #fff;
}

figure.Brand-box:hover img {
    opacity: 0.4;
    transform: scale(1.1);
}

figure.Brand-box figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

figure.Brand-box:hover figcaption {
    background: rgba(58, 52, 42, 0);
}

figure.Brand-box figcaption:before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
}

figure.Brand-box p {
    color: #fff;
    padding: 0px;
    margin: 0;
    width: 80%;
    height: 80px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    line-height: 21px;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

figure.Brand-box p span {
    display: block;
    width: 100%;
    margin: 0 auto 10px;
    padding-bottom: 5px;
    border-bottom: solid 2px #fff;
    font-weight: bold;
    color: #ffe400;
}

figure.Brand-box p span:before,
figure.Brand-box p span:after {
    content: "。";
    margin: 0 5px;
    color: #fff;
}

figure.Brand-box a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

figure.Brand-box:hover figcaption:before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.Brand-box:hover p {
    opacity: 1;
}

.Brand-more {
    display: flex;
    justify-content: flex-end;
}

.Brand-more-btn {
    border-radius: 20px;
    font-weight: bold;
    padding: 5px 15px;
    margin-top: 10px;
}

.treasure-btn:after {
    content: "";
    background: url(../images/20_more_icon.png) #4a1b86 no-repeat center center;
    background-size: 8px 11px;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

.vision-btn:after {
    content: "";
    background: url(../images/20_more_icon.png) #67b72d no-repeat center center;
    background-size: 8px 11px;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

.treasure-btn {
    color: #4a1b86;
    border: solid 1px #4a1b86;
    transition: .5s;
    line-height: 20px;
}

.treasure-btn:hover {
    background: #4a1b86;
    color: #fff;
}

.vision-btn {
    color: #67b72d;
    border: solid 1px #67b72d;
    transition: .5s;
    line-height: 20px;
}

.vision-btn:hover {
    background: #67b72d;
    color: #fff;
}


/*============== AsiaSelect ==============*/

#AsiaSelect {
    padding: 20px 0;
}

.AsiaSelect-nav-tab {
    z-index: 9;
    position: relative;
}

.AsiaSelect-nav-tab-hidden {
    overflow-x: auto;
}


/* 各尺寸隱藏調整 */

@media (max-width: 576px) {
    .AsiaSelect-nav-tab-hidden {
        width: 90%;
    }
}
/*
@media (max-width: 414px) {
    .AsiaSelect-nav-tab-hidden {
        width: 87%;
    }
}

@media (max-width: 375px) {
    .AsiaSelect-nav-tab-hidden {
        width: 95%;
    }
}

@media (max-width: 360px) {
    .AsiaSelect-nav-tab-hidden {
        width: 95%;
    }
}

@media (max-width: 320px) {
    .AsiaSelect-nav-tab-hidden {
        width: 100%;
    }
}*/

.AsiaSelect-nav-tab ul {
    list-style: none;
    padding: 0;
    margin-top: -60px;
    margin-left: 120px;
}

.AsiaSelect-nav-tab ul li {
    cursor: pointer;
    display: inline-block;
    color: #757575;
    margin: 0;
    font-weight: bold;
    padding: 0 15px;
    font-size: 1.125rem;
    border-right: solid 1px #757575;
}

.AsiaSelect-nav-tab ul li:last-of-type {
    border-right: none;
}

.AsiaSelect-nav-tab ul li.active,
.AsiaSelect-nav-tab ul li:hover {
    color: #8c001a;
    /*font-family: 'Noto Sans TC';*/
}

.AsiaSelect-nav-tab>div>div {
    display: none;
}

.AsiaSelect-nav-tab>div>div.active {
    display: block;
    position: relative;
}

.AsiaSelect-area {
    margin-top: 50px;
}

.AsiaSelect-hidden {
    overflow-x: auto;
}

.AsiaSelect-tool {
    display: flex;
    /*    flex-wrap: wrap;*/
}

@media (max-width: 1000px) {
    .AsiaSelect-tool {
        min-width: 1000px;
        overflow: auto;
    }
}

figure.AsiaSelect-box {
    /*
    width: 32%;
    margin: 0 2% 10px 0;
*/
    width: calc((100% - 40px) / 3);
    margin: 0 20px 10px 0;
    line-height: 0;
    overflow: hidden;
    /*    border: solid 1px #8c001a;*/
    background: #000;
    color: #fff;
    position: relative;
}

figure.AsiaSelect-box:last-of-type {
    margin-right: 0;
}

figure.AsiaSelect-box img {
    width: 100%;
    transition: .5s;
}

figure.AsiaSelect-box:hover img {
    opacity: 0.6;
    transform: scale(1.1);
}

figure.AsiaSelect-box figcaption {
    background: linear-gradient(transparent 5%, rgba(30, 29, 24, 0.9) 75%);
    padding: 7px 15px;
    position: absolute;
    font-size: .875rem;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}

figure.AsiaSelect-box p {
    color: #fff;
    padding: 0px;
    margin: 0;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

figure.AsiaSelect-box a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


/*============== RecentlyHot ==============*/

#RecentlyHot {
    padding: 20px 0;
}

.RecentlyHot-hidden {
    overflow-x: auto;
}

.RecentlyHot-tool {
    display: flex;
    justify-content: space-between;
    /*    flex-wrap: wrap;*/
}

@media (max-width: 1000px) {
    .RecentlyHot-tool {
        min-width: 1000px;
        overflow: auto;
    }
}

figure.RecentlyHot-box {
    /*    width: 24%;*/
    width: 100%;
    position: relative;
    margin: 0 0 10px 0;
    line-height: 0;
    color: #fff;
    background: #000;
    overflow: hidden;
}

figure.RecentlyHot-box:hover img {
    opacity: 0.6;
    transform: scale(1.1);
}

figure.RecentlyHot-box img {
    width: 100%;
    transition: .5s;
}

figure.RecentlyHot-box figcaption {
    background: linear-gradient(transparent 5%, rgba(30, 29, 24, 0.9) 75%);
    padding: 7px 15px;
    position: absolute;
    font-size: .875rem;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}

figure.RecentlyHot-box p {
    color: #fff;
    padding: 0px;
    margin: 0;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

figure.RecentlyHot-box a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#RecentlyHot-owl-carousel .owl-nav {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-20px);
    width: 100%;
    margin: 0;
}

#RecentlyHot-owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -5%;
    font-size: 8rem;
    line-height: 0;
    color: #e5e5e5;
}

#RecentlyHot-owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: -5%;
    font-size: 8rem;
    line-height: 0;
    color: #e5e5e5;
}

#RecentlyHot-owl-carousel .owl-nav .disabled {
    opacity: 0;
}

#RecentlyHot-owl-carousel .owl-nav [class*=owl-]:hover,
#RecentlyHot-owl-carousel .owl-nav [class*=owl-]:focus {
    background: transparent;
    outline: none;
}

#RecentlyHot-owl-carousel .owl-dots .owl-dot.active span,
#RecentlyHot-owl-carousel .owl-dots .owl-dot:hover span {
    background: #8c001a;
}


/*============== SpecialOffer ==============*/

#SpecialOffer {
    padding: 20px 0;
}

h3.main-title {
    font-size: 1.75rem;
    font-family: 'Noto Sans TC';
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #757575;
}

h3.main-title b {
    display: none;
    font-size: .9rem;
    margin-bottom: 5px;
    color: #757575;
    font-family: Microsoft JhengHei, "微軟正黑體";
}

h3.main-title i {
    font-style: normal;
    font-size: 1rem;
    margin-left: 10px;
    font-family: Microsoft JhengHei, "微軟正黑體";
}

.SpecialOffer-hidden {
    overflow-x: auto;
}

.SpecialOffer-tool {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .SpecialOffer-tool {
        min-width: 600px;
        overflow: auto;
    }
}

.SpecialOffer-box {
    width: 32.5%;
    border: solid 1px #898989;
    transition: .5s;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 1.25%;
}

.SpecialOffer-box:nth-of-type(3n) {
    margin-right: 0;
}

.SpecialOffer-box:hover {
    background: #fbf1e2;
}

.SpecialOffer-box h4 {
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SpecialOffer-box .area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.SpecialOffer-box .note {
    width: calc(100% - 100px);
    color: #757575;
    font-size: .875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SpecialOffer-box .price {
    color: #e30005;
    font-family: Arial;
    font-size: 1.2rem;
    font-weight: bold;
	margin: 5px 0 -5px 0;
}

.SpecialOffer-box .price:before {
    content: "$";
}

.SpecialOffer-box .price:after {
    content: "起";
    font-family: Microsoft JhengHei, "微軟正黑體";
    margin-left: 3px;
    color: #1e1d18;
    font-size: .875rem;
}


/*============== Index Link ==============*/

#indexLink {
    padding: 20px 0;
}

#indexLink-owl-carousel {
    padding: 20px 40px;
    border: solid 1px #898989;
    position: relative
}

#indexLink-owl-carousel .owl-nav {
    position: absolute;
    top: 49%;
    left: 0;
    transform: translateY(-20px);
    width: 100%;
    margin: 0;
}

#indexLink-owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    font-size: 5rem;
    line-height: 0;
    color: #e5e5e5;
}

#indexLink-owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 0;
    font-size: 5rem;
    line-height: 0;
    color: #e5e5e5;
}

#indexLink-owl-carousel .owl-nav .disabled {
    opacity: 0;
}

#indexLink-owl-carousel .owl-nav [class*=owl-]:hover,
#indexLink-owl-carousel .owl-nav [class*=owl-]:focus {
    background: transparent;
    outline: none;
}

#indexLink-owl-carousel .item figure {
    display: none;
}

#indexLink-owl-carousel .item figure span {
    display: block;
    font-size: 2rem;
    background: #1d3f62;
    color: #fff;
    border-radius: 50%;
    margin: auto;
}

#indexLink-owl-carousel .item figcaption {
    font-size: .75rem;
    text-align: center;
    margin-top: 10px;
}

#indexLink-owl-carousel .owl-nav img {
    width: 35px;
}

@media (max-width: 768px) {
    /* Search */
    .searchBox-area {
        width: 45%;
    }
    .searchBox-date {
        width: 55%;
    }
    .searchBox-keyword {
        width: 100%;
        margin-top: 10px;
    }
    .searchBox-btn {
        border: 1px solid #ccc;
        background: #fff;
        margin-left: 2px;
        width: 123px;
    }
    ul.search-title {
        padding-bottom: 10px;
        border-bottom: solid 2px #7d7d7e;
    }
    ul.search-title li:first-of-type {
        padding-left: 0;
        font-size: 1rem;
    }
    ul.search-title li {
        font-size: 1rem;
    }
    /* SpecialEvent */
    h3.main-title {
        font-size: 1.5rem;
    }
    .SpecialEvent-tab-hidden {
        height: 55px;
        overflow-y: hidden;
		text-align: left;
    }     
    ul.SpecialEvent-tab li.selected:after {
        bottom: -24px;
    }
    ul.SpecialEvent-tab {
        margin: 0;
        white-space: nowrap;
    }
    figure.SpecialEvent-box {
        position: relative;
        border: none;
        background: #fff;
    }
    figure.SpecialEvent-box:hover img {
        opacity: 1;
        transform: scale(1);
    }
    /* Brand */
    ul.Brand-tab li {
        margin-right: 0;
        font-size: 1.5rem;
    }
    ul.Brand-tab li b {
        display: block;
    }
    ul.Brand-tab li i {
        display: none;
    }
    ul.Brand-tab {
        margin: 0;
        width: 600px;
    }
    .Brand-tab-hidden {
        height: 85px;
    }
    .Brand-area {
        margin-top: 0;
    }
    figure.Brand-box {
        position: relative;
        border: none;
        background: #fff;
    }
    figure.Brand-box:hover img {
        opacity: 1;
        transform: scale(1);
    }
    figure.Brand-box figcaption {
        position: inherit;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        background: #fff;
        padding: 10px;
        /*min-height: 44px;*/
        align-items: flex-start;
    }
    figure.Brand-box figcaption:before {
        display: none;
    }
    figure.Brand-box:hover figcaption {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    figure.Brand-box p {
        color: #929292;
        opacity: 1;
        position: inherit;
        left: 0;
        transform: translate(0);
        width: 100%;
        height: 40px;
        text-align: left;
        white-space: inherit;
    }
    .Brand-more {
        justify-content: center;
    }
    /* AsiaSelect */
    .AsiaSelect-nav-tab-hidden {
        display: block;
        height: 45px;
    }    
    .AsiaSelect-nav-tab ul {
        margin: 0;
        white-space: nowrap;
    }
    .AsiaSelect-area {
        margin-top: 0;
    }
    figure.AsiaSelect-box {
        position: relative;
        border: none;
        background: #fff;
    }
    figure.AsiaSelect-box:hover img {
        opacity: 1;
        transform: scale(1);
    }
    figure.AsiaSelect-box figcaption {
        position: inherit;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        background: #fff;
        top: 0;
        padding: 10px;
        min-height: 44px;
        align-items: flex-start;
        border: solid 1px #959495;
    }
    figure.AsiaSelect-box:hover figcaption {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    figure.AsiaSelect-box p {
        color: #929292;
    }
    figure.Brand-box p span {
        display: none;
    }
    /* RecentlyHot */
    #RecentlyHot-owl-carousel .owl-nav {
        top: 35%;
    }
    figure.RecentlyHot-box {
        /*        position: inherit;*/
    }
    figure.RecentlyHot-box:hover img {
        opacity: 1;
        transform: scale(1);
    }
    figure.RecentlyHot-box figcaption {
        position: inherit;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        border: solid 1px #959495;
        top: 0;
        background: #fff;
        padding: 10px;
        min-height: 44px;
        align-items: flex-start;
    }
    figure.RecentlyHot-box:hover figcaption {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    figure.RecentlyHot-box p {
        color: #929292;
    }
    h3.main-title {
        text-align: center;
    }
    h3.main-title b {
        display: block;
    }
    h3.main-title i {
        display: none;
    }
    h3.main-title span {
        background: #fff100;
        background: linear-gradient(transparent 80%, #fff100 0%);
        padding: 0 10px;
    }
    /* SpecialOffer */
    .SpecialOffer-box {
        width: 49%;
        margin-right: 2%;
    }
    .SpecialOffer-box:nth-of-type(3n) {
        margin-right: 2%;
    }
    .SpecialOffer-box:nth-of-type(2n) {
        margin-right: 0;
    }
    /* IndexLink */
    #indexLink-owl-carousel {
        /*border-right: none;
        border-left: none;*/
        border: none;
        padding: 10px 35px;
    }
    #indexLink-owl-carousel .item-pc {
        display: none;
    }
    #indexLink-owl-carousel .item figure {
        display: block;
    }
    #indexLink-owl-carousel .owl-nav {
        top: 44%;
    }
    #indexLink-owl-carousel .owl-nav .owl-prev,
    #indexLink-owl-carousel .owl-nav .owl-next {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .searchBox-area,
    .searchBox-date {
        width: 100%;
    }
    .searchBox-date {
        margin-top: 10px;
    }
    ul.Brand-tab {
        width: 100%;
        min-width: 335px;
    }
    .SpecialEvent-tool {
        min-width: 768px;
    }       
    .SpecialEvent-tab-hidden:after {
        content: url(../images/20_arrowR.png);
        position: absolute;
        right: 0px;
        top: 3px;
    }
    .Brand-tool {
        min-width: 768px;
    }
    .AsiaSelect-tool {
        min-width: 768px;
    }        
    .AsiaSelect-nav-tab-hidden:after {
        content: url(../images/20_arrowR.png);
        position: absolute;
        right: 0;
        top: 0;
    }
    figure.Brand-box p {
        height: 35px;
    }
}
