* {
  font-family: 'Noto Sans TC', sans-serif;
}

img {
  width: 100%;
}

.container {
  position: initial;
}


/* ----------------------- header ----------------------- */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  padding: 2rem 0;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  position: relative;
}

.logo::before {
  content: '';
  position: absolute;
}

.right {
  display: flex;
  align-items: flex-end;
  /* margin: 0 -1rem; */
}

.right h3 {
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0 1rem .4rem;
  color: #8c001a;
  position: relative;
}

.right h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #8c001a;
  transition: .5s;
}

.right a:hover h3::before {
  width: 100%;
  transition: .5s;
}


/* program_btn */

.program_btn {
  position: relative;
}

.program_menu {
  /* max-width: 100%; */
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5rem 1.8rem;
  border: 1px solid #8c001a;
  border-radius: 0;
  display: none;
}

.program_menu.active {
  display: flex;
}

.first {
  padding-right: 1.5rem;
  border-right: 1px solid #5d5d5d;
}

.first li a {
  width: 100px;
}

.first li a,
.ul_inner li a {
  font-size: 1rem;
  color: #5d5d5d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
  white-space: nowrap;
}

.ul_inner li a {
  width: 200px;
  white-space: break-spaces;
}

.ul_inner {
  padding-left: 1.5rem;
}

.first li.active a,
.first li:hover a,
.ul_inner li:hover a {
  color: #8c001a;
  font-weight: bolder;
  background: #eee
}


/* /program_btn */

@media (max-width:991px) {
  header {
    background: #8c001a;
  }
  .logo img {
    content: url(../images/BLOG_logo-2.png);
  }
  .right h3 {
    color: #fff;
  }
  .right h3::before {
    background: #fff;
  }
  .program_btn {
    display: none;
  }
}


/* ----------------------- main ----------------------- */

.main {
  min-height: 65vh;
  margin-top: 7.6rem;
  background: #2e4787;
}

.platform {
  color: #fff;
  background: #6a83c3;
}

.platform .container {
  display: flex;
  align-items: center;
  padding: .5rem 15px;
}

.platform span {
  font-size: 1rem;
  margin-right: 2rem;
}

.platform img {
  max-width: 100%;
  width: auto;
  margin-right: 1rem;
}

.podcast_content {
  background: url(../images/podcast_bg.png) no-repeat top;
}

.podcast_content .container {
  padding: .5rem 15px;
}

.p_title {
  color: #fff;
  text-align: center;
  margin: 4rem 0;
}

.p_title span {
  font-size: 1.25rem;
}

.p_title h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: .5rem 0 0;
}

.p_menu_box {
  display: flex;
  flex-wrap: wrap;
}

.p_menu_box a {
  width: 23%;
  margin: 0 1% 1.5rem;
}

.down_img {
  border: thin solid #c9c9c9;
  overflow: hidden;
  position: relative;
  transition: .5s;
}

.down_img img {
  display: block;
  transition: .5s;
}

.down_img span {
  font-size: 18px;
  font-weight: bold;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

.down_img::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65px;
  height: 9px;
  background: #c9c9c9;
  transition: .5s;
}

.p_menu_box a:hover .down_img::before {
  background: #8c001a;
  transition: .5s;
  z-index: 1;
}

.p_menu_box a:hover .down_img img {
  transform: scale(1.1);
  filter: brightness(.5);
  transition: .5s;
}

.p_menu_box a:hover .down_img span {
  color: #fff;
  transition: .5s;
}

.down_txt {
  font-size: 20px;
  text-align: justify;
  color: #fff;
  line-height: 1.5;
  margin: .8rem 0;
}

.else_txt,
.listen {
  color: #fff;
}

.else_txt {
  margin-bottom: .5rem;
}

.listen {
  text-align: right;
  border-bottom: 3px solid #fff;
  padding-bottom: 0.5rem;
}

.listen span {
  margin-left: .5rem;
}

.p_menu_box a:hover .listen span {
  display: none;
}

.page {
  margin: 2rem 0;
}

.page ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page ul li {
  padding: .2rem;
}

.page ul li a {
  font-size: 1rem;
  color: #fff;
  margin: .2rem;
  color: #fff;
  margin: 0.2rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page ul li a.active,
.page ul li a:hover {
  color: #2e4787;
  background: #fff;
}

.page ul li:last-of-type a.active,
.page ul li:last-of-type a:hover {
  color: none;
  background: none;
}

.page ul li img {
  filter: brightness(100);
}

.m_right_btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

.m_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #2e4787;
  background: #e1e2e8;
  margin-bottom: .5rem;
}

.platform_btn .m_btn {
  margin-bottom: 0;
}

.gotop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gotop i {
  transform: rotate(-90deg);
  margin-bottom: -3px;
}

.menu_btn_box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: rgba(244, 245, 248, 0.95);
  /* background: rgba(0, 0, 0, 50%); */
  display: none;
}

.menu_btn_ul {
  width: 500px;
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem;
  /* background: #f4f5f8; */
}

.cancel {
  content: '';
  font-size: 1.25rem;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 4; */
}

.menu_btn_box.active {
  display: block;
}

.menu_btn_ul>li>a {
  font-size: 1rem;
  color: #5d5d5d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
}

.menu_btn_ul>li.active>a {
  color: #8c001a;
  font-weight: bolder;
  background: #eee
}

.menu_btn_ul>li>a i {
  transition: .5s;
}

.menu_btn_ul>li.active>a i {
  transform: rotate(-90deg);
  transition: .5s;
}

.m_ul_inner {
  padding-left: 2rem;
}

.m_ul_inner li a {
  font-size: 1rem;
  color: #5d5d5d;
  display: block;
  padding: 0.5rem 0.7rem;
}

.platform_menu_box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 50%);
  display: none;
}

.platform_menu_box.active {
  display: block;
}

.platform_menu {
  width: 500px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  color: #fff;
  background: rgba(46, 71, 135, 0.95);
  z-index: 2;
}

.platform_menu h2 {
  line-height: 1.5;
  border-bottom: 1px solid #fff;
  padding-bottom: .5rem;
}

.platform_menu p {
  font-size: 1rem;
  margin: 2rem 0 1rem;
}

.platform_menu_link a {
  display: inline-block;
}

.platform_menu_link img {
  width: auto;
  margin-right: 1rem;
}

.platform_menu_link a:last-of-type img {
  margin-right: 0;
}

@media (min-width:991px) {
  .m_right_btn {
    display: none;
  }
}

@media (max-width:991px) {
  .main {
    margin-top: 7.4rem;
  }
  .platform {
    display: none;
  }
  .p_menu_box a {
    width: 31%;
    margin: 0 1.166666% 1.5rem;
  }
}

@media (max-width:700px) {
  .p_menu_box a {
    width: 45%;
    margin: 0 2.5% 1.5rem;
  }
}

@media (max-width:425px) {
  .main {
    margin-top: 7rem;
  }
  .p_menu_box a {
    width: 100%;
    margin: 0 auto 2rem;
  }
}

@media (max-width:375px) {
  .main {
    margin-top: 6.5rem;
  }
}
