@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(..//images/BG.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: Microsoft JhengHei, '微軟正黑體';
}

header {
    background: #ffebf1;
}

.header-banner {
    width: 100%;
    position: relative;
}

#banner-owl-carousel {
    position: relative;
}

#banner-owl-carousel .owl-dots {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

#banner-owl-carousel .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.6);
}

#banner-owl-carousel .owl-dots .owl-dot.active span,
#banner-owl-carousel .owl-dots .owl-dot:hover span {
    background: rgba(242, 79, 170, 0.8);
}

.main-pic {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;
    -webkit-animation: opacity 2s ease-in, move 2s ease-in infinite;
    animation: opacity 3s ease-in, move 3s ease-in infinite;
}

@-webkit-keyframes move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: 8px;
    }
    50% {
        margin-top: 0;
    }
    75% {
        margin-top: 8px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: 8px;
    }
    50% {
        margin-top: 0;
    }
    75% {
        margin-top: 8px;
    }
    100% {
        margin-top: 0;
    }
}

.item {
    padding-top: 49.5%;
    background-size: cover;
    position: relative;
    background-position: center;
}

.bannner01 {
    background-image: url(../images/banner01.png);
}

.bannner02 {
    background-image: url(../images/banner02.png);
}

.bannner03 {
    background-image: url(../images/banner03.png);
}

.bannner04 {
    background-image: url(../images/banner04.png);
}

.bannner05 {
    background-image: url(../images/banner05.png);
}

.bannner06 {
    background-image: url(../images/banner06.png);
}

.bannner07 {
    background-image: url(../images/banner07.png);
}

.item span {
    color: #fff;
    text-shadow: 0 0 7px #333333;
    position: absolute;
    right: 16.5%;
    top: 14%;
    z-index: 99;
    font-size: 16px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

#menu li {
    width: 75px;
    height: 75px;
    font-size: 18px;
    padding: 22px 0px;
    margin: 0 10px 10px;
    font-weight: bold;
    background: #d7a460;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

#menu li span {
    display: block;
    color: #c3ff6a;
    font-size: 13px;
    white-space: nowrap;
    text-shadow: 0 0 9px #bb8338;
}

#menu li:hover {
    background: #ff4c6e;
}

#menu li:hover span {
    color: #ffdd94;
}

#wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

section {
    position: relative;
    min-height: 200px;
    margin-bottom: 30px;
    padding-bottom: 65px;
    overflow: hidden;
}

section img {
    padding: 0 20px;
    max-width: 100%;
}

section:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 18.5%;
    background: url(../images/section_foot.png) no-repeat;
    background-size: cover;
    pointer-events: none;
}

.Tulip-section,
.Cherry-section,
.Wisteria-section,
.Mass-section,
.Plum-section,
.lavender-section {
    background-color: #ffe8ec;
    background-image: url(../images/section_bg.png);
    background-repeat: repeat;
    border-top: solid 7px #ffcfd8;
    border-bottom: solid 7px #ffcfd8;
}

.section-area {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.section-pic-tool {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 48%;
}

.section-pic-txt {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    width: 65%;
    margin: 0 auto;
}

.Tulip-section .section-pic-txt,
.Wisteria-section .section-pic-txt,
.Mass-section .section-pic-txt,
.Plum-section .section-pic-txt {
    line-height: 2rem;
    width: 92%;
}

.section-recommend {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    position: relative;
}

.Cherry-section .section-recommend:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ff66d2;
    top: 15px;
    z-index: 9;
}

.lavender-section .section-recommend:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #22d0b9;
    top: 15px;
    z-index: 9;
}

.section-recommend h5 {
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: #fff;
    padding: 8px 0;
}

.section-recommend h5 span {
    display: block;
    z-index: 9;
    position: relative;
}

.Tulip-section h5,
.Wisteria-section h5,
.Mass-section h5,
.Plum-section h5 {
    max-width: 700px;
    margin: 0 auto 20px;
    position: relative;
}

.Tulip-section h5 {
    background-color: #ff4157;
}
.Wisteria-section h5 {
    background-color: #dd20f4;
}
.Mass-section h5 {
    background-color: #f87cd4;
}
.Plum-section h5 {
    background-color: #ff906e;
}

.Tulip-section h5::before,
.Wisteria-section h5::before,
.Mass-section h5::before,
.Plum-section h5::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border-style: solid;
    border-width: 17.5px 0 17.5px 16px;
    border-color: transparent transparent transparent #feeef1;
    left: -1px;
    top: 0px;
}

.Tulip-section h5::after,
.Wisteria-section h5::after,
.Mass-section h5::after,
.Plum-section h5::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border-style: solid;
    border-width: 17.5px 16px 17.5px 0;
    border-color: transparent #feeef1 transparent transparent;
    right: -1px;
    top: 0px;
}

.Cherry-section h5 {
    max-width: 700px;
    margin: 0 auto 20px;
    background: #ff66d2;
    position: relative;
}

.Cherry-section h5::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.5px 0 17.5px 16px;
    border-color: transparent transparent transparent #feeff0;
    left: 0;
    top: -1px;
}

.Cherry-section h5::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.5px 16px 17.5px 0;
    border-color: transparent #feeff0 transparent transparent;
    right: 0;
    top: -1px;
}

.lavender-section h5 {
    max-width: 700px;
    margin: 0 auto 20px;
    background: #22d0b9;
    position: relative;
}

.lavender-section h5::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.5px 0 17.5px 16px;
    border-color: transparent transparent transparent #feeff0;
    left: 0;
    top: -1px;
}

.lavender-section h5::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17.5px 16px 17.5px 0;
    border-color: transparent #feeff0 transparent transparent;
    right: 0;
    top: -1px;
}

.section-recommend-tool {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    line-height: 26px;
}

.Tulip-section .section-recommend-tool,
.Wisteria-section .section-recommend-tool,
.Mass-section .section-recommend-tool,
.Plum-section .section-recommend-tool {
    flex-direction: column;
}

.section-recommend-tool a {
    color: #2a2a2a;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 5px;
    width: 48%;
    margin-bottom: 5px;
    border-bottom: dashed 1px #898989;
    transition: 0.3s;
}

.section-recommend-tool a:hover {
    color: #ff2f57;
    position: relative;
}

.Tulip-section .section-recommend-tool a,
.Wisteria-section .section-recommend-tool a,
.Mass-section .section-recommend-tool a,
.Plum-section .section-recommend-tool a {
    width: auto;
}

.Tulip-section .section-recommend-tool a:hover:before {
    content: url(../images/section_icon01.png);
    width: 34px;
    height: 38px;
    position: absolute;
    top: -5px;
    left: -30px;
}

.Cherry-section .section-recommend-tool a:hover:before {
    content: url(../images/section_icon02.png);
    width: 52px;
    height: 44px;
    position: absolute;
    top: -5px;
    left: -50px;
}

.lavender-section .section-recommend-tool a:hover:before {
    content: url(../images/section_icon06.png);
    width: 52px;
    height: 44px;
    position: absolute;
    top: -5px;
    left: -50px;
}

.Wisteria-section .section-recommend-tool a:hover:before {
    content: url(../images/section_icon03.png);
    width: 34px;
    height: 38px;

    position: absolute;
    top: -5px;
    left: -30px;
}

.Mass-section .section-recommend-tool a:hover:before {
    content: url(../images/section_icon04.png);
    width: 34px;
    height: 38px;
    position: absolute;
    top: -5px;
    left: -30px;
}

.Plum-section .section-recommend-tool a:hover:before {
    content: url(../images/section_icon05.png);
    width: 34px;
    height: 38px;
    position: absolute;
    top: -5px;
    left: -30px;
}

p.section-note {
    text-align: left;
    color: #888;
    font-size: 14px;
    line-height: 1.6rem;
}

.Rose-section p.section-note,
.Lupine-section p.section-note,
.RapeseedFlwers-section p.section-note {
    text-align: left;
}

/* footer */

footer {
    color: #fff;
    background: #d93353;
    font-size: 0.875rem;
    line-height: 2rem;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
    min-height: 340px;
    margin: 0 auto;
    word-break: break-all;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

footer a:hover {
    color: #ece7a1;
}

.footer-link {
    background: #1f4165;
    padding: 10px;
}

ul#bottom-menu {
    width: 1080px;
    overflow: hidden;
    font-size: 0.875rem;
    line-height: 2rem;
    margin: 0 auto;
}

ul#bottom-menu li {
    float: left;
    list-style: none;
}

ul#bottom-menu li:after {
    content: '｜';
    margin: 6px;
    color: #fff;
}

ul#bottom-menu li:last-of-type:after {
    display: none;
}

ul#bottom-menu a {
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
}

ul#bottom-menu a:hover {
    color: #ee7b1a;
}

.footer-line {
    width: 1px;
    height: 210px;
    background: #fffbcc;
    margin: 10px 5%;
}

.contact-box-warp {
    display: flex;
    flex-wrap: wrap;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 33%;
}

.contact-box p span {
    letter-spacing: 0.2rem;
}

.foot-wrap {
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 5% 0;
}

.footer-left {
    width: 40%;
}

.footer-left h4 {
    font-weight: bold;
    font-size: 1.05rem;
}

.footer-left p:nth-of-type(1) {
    margin-bottom: 30px;
}

.footer-left .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 0 6.5px 6px;
    border-color: transparent transparent transparent #fffbcc;
    display: inline-block;
    margin-right: 5px;
}

.footer-right {
    display: flex;
    width: 60%;
    font-size: 0.8rem;
    justify-content: space-between;
}

.contact-box:last-of-type {
    align-items: flex-start;
    width: 66%;
    padding-left: 12%;
}

.QR-code {
    width: 80px;
    height: 80px;
    margin: 0;
    display: block;
    float: left;
}

@media (max-width: 1200px) {
    .contact-box:last-of-type {
        display: none;
    }
    .item {
        padding-top: 60%;
    }
    .main-pic img {
        width: 90%;
        margin: 0 5%;
    }
}

@media (max-width: 768px) {
    .item {
        padding-top: 65%;
    }
    .main-pic {
        top: 20%;
    }
    .main-pic img {
        width: 80%;
        margin: 0 10%;
    }
    .col-4,
    .col-6 {
        width: 100%;
        margin-bottom: 20px;
    }
    .item span {
        right: 5%;
        top: 10%;
    }
    section img {
        width: 100%;
        max-width: 100%;
    }
    .section-recommend h5 {
        max-width: inherit;
    }
    .section-recommend h5 span b {
        display: none;
    }
    .section-recommend:before {
        display: none;
    }
    .section-recommend-tool a {
        width: 100%;
    }
    .Tulip-section .section-pic-txt,
    .Cherry-section .section-pic-txt,
    .Wisteria-section .section-pic-txt,
    .Mass-section .section-pic-txt,
    .Plum-section .section-pic-txt,
    .lavender-section .section-pic-txt {
        width: 90%;
        max-width: 570px;
        margin: 0 auto;
    }
    p.section-note {
        text-align: left;
    }
    /*============== footer ==============*/
    footer {
        font-size: 12px;
    }
    .footer-left {
        width: 40%;
    }
    .footer-right {
        width: 60%;
    }
    .contact-box {
        width: 50%;
    }
}

@media (max-width: 500px) {
    #menu {
        padding: 10px 0;
    }
    .section-head {
        width: 200%;
        max-width: initial;
        transform: translateX(-25%);
    }
    #banner-owl-carousel .owl-dots {
        bottom: 5%;
    }
    .col-6 .section-pic-tool {
        /* 手機圖片會跟著等高變形 */
        display: inherit;
    }
    /*
    .section-pic-tool {
        display: none;
    }
*/
    /*============== footer ==============*/
    .foot-wrap {
        width: 80%;
        flex-direction: column;
        padding: 10% 0 5%;
    }
    .footer-left {
        width: 100%;
    }
    .footer-line {
        display: none;
    }
    .footer-right {
        margin: 10px 0;
        flex-direction: column;
        width: 100%;
    }
    .contact-box-warp {
        flex-direction: column;
        align-items: start;
    }
    .contact-box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        align-items: flex-start;
    }
    .contact-box p span {
        letter-spacing: 0.15rem;
    }
    .contact-box p:nth-of-type(2):before {
        content: '　　 ';
        margin-right: 6px;
    }
    /*============== go top ==============*/
    .gotop img {
        width: 70px;
    }
}
