@charset "UTF-8";

/* CSS Document */

#content {
  margin: 100px 0 0;
}

#fit_content {
  display: flex;
  width: 86vw;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  #content {
    margin-top: 16px;
  }
}

/*============== Banner ==============*/

#banner {
  position: relative;
}

.banner-title {
  position: absolute;
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  text-shadow: 0 0 15px #1a1a1a;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#banner img {
  height: inherit;
}

@media (max-width: 1400px) {
  #banner {
    height: 500px;
  }
}

@media (max-width: 768px) {
  #banner {
    height: 500px;
  }
}

/*============== /Banner ==============*/

/*============== AirTicket ==============*/

#fit_AirTicket {
  width: 50%;
  margin: 10px;
}


.AirTicket-nav-tab {
  position: relative;
  width: 712px;
}

.AirTicket-tab {
  position: absolute;
  top: 13px;
  right: 20px;
  z-index: 1;
  display: flex;
}

.tabs-wrapper ul li {
  display: inline-block;
  margin: 0 4px;
}

.tabs-wrapper ul li a {
  background: #e1e1e1;
  color: #464646;
  padding: 10px 20px;
  font-size: 18px;
}

.tabs-wrapper ul li.selected a {
  background: #e9746b;
  color: white;
  text-shadow: 0 0 1px #e9746b;
}

/* .iframe-container {
  position: relative;
  overflow: visible;
} */

.iframe-container iframe {
  width: 712px;
  height: 412px;
}

@media (max-width: 768px) {
  #fit_AirTicket {
    width: 100%;
  }

  .tabs-wrapper {
    overflow-x: scroll;
  }
}

/*============== /AirTicket ==============*/

/*============== fit_slider ==============*/
#fit_slider {
  width: 50%;
  margin: 10px;
  max-width: 600px;
}

.ad {
  display: block;
  background-color: #8c001a;
  color: #fff;
  text-align: center;
}

.ad img {
  width: 100%;
}

@media (max-width: 768px) {
  #fit_slider {
    width: 100%;
  }


  .ad img {
    width: 100%;
  }
}


/*============== /fit_slider ==============*/

/*============== fit_globalTravel ==============*/

.fit_globalTravel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 5px #757575;
}

.globalTravel_title {
  text-align: center;
  margin: 0 auto;
}

.globalTravel_title div {
  padding: 10px 0;
  font-size: 1.6rem;
  font-weight: 900;
}

.icon-size {
  width: 36px;
  margin: 0 auto;
  padding: 5px 0;
}

.globalTravel_popular {}

.globalTravel_line {
  display: block;
  background-color: #ff6501;
  width: 30px;
  height: 2px;
  margin: 0 auto;
}

.globalTravel_go {
  color: #ff6501;
}

.globalTravel_content {
  display: flex;
  width: 1360px;
  margin: 0 auto;
}

.globalTravel_content ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  overflow-x: auto;
}

.globalTravel_content li {
  margin: 10px;
}

.globalTravel_content li a {
  position: relative;
}

.glabalTravel_img {}

.glabalTravel_img img {
  width: 250px;
  height: 170px;
  object-fit: cover;
  border-bottom: #8c001a 10px solid;
}

.globalTravel_top10 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: #fff;
  font-weight: bolder;
}

.globalTravel_price {
  font-size: 0.5rem;
  padding: 5px;
}

.price {
  padding-left: 3px;
  font-size: 1rem;
}

@media (max-width: 1400px) {
  .globalTravel_content {
    display: contents;
  }

  .globalTravel_content ul {
    flex-wrap: nowrap;
    justify-content: unset;
  }
}

/*============== /fit_globalTravel ==============*/

/*============== AsiaSelect ==============*/

#AsiaSelect {
  padding: 20px 0;
}

.AsiaSelect-nav-tab {
  z-index: 9;
  position: relative;
}

.AsiaSelect-nav-tab-hidden {
  overflow-x: auto;
}

@media (max-width: 576px) {
  .AsiaSelect-nav-tab-hidden {
    width: 90%;
  }
}

.AsiaSelect-tab {
  list-style: none;
  padding: 0;
  margin-top: -60px;
  margin-left: 130px;
}

.AsiaSelect-tab li {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.AsiaSelect-tab li::after {
  position: absolute;
  content: "";
  top: 34px;
  left: 0;
  width: 100%;
  border-bottom: #8c001a 5px solid;
  transform: scaleX(0);
  transition: 0.4s;
}

.AsiaSelect-tab li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  font-family: "Noto Sans TC";
  color: #757575;
  transition: 0.4s;
}

.AsiaSelect-tab li.selected a,
.AsiaSelect-tab li a:hover {
  color: #8c001a;
  font-family: "Noto Sans TC";
}

.AsiaSelect-tab li.selected a::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 0;
  width: 100.5%;
  border-bottom: 5px solid #8c001a;
}

.AsiaSelect-tab li:hover::after,
.AsiaSelect-tab li.active::after {
  content: "";
  transform: scaleX(1);
}


/* 以上是border動畫 */

.AsiaSelect-nav-tab>div>div {
  display: none;
}

.AsiaSelect-nav-tab>div>div.active {
  display: block;
  position: relative;
}

.AsiaSelect-area {
  margin-top: 50px;
}

.AsiaSelect-hidden {
  overflow-x: auto;
}

.AsiaSelect-tool {
  display: flex;
  /*    flex-wrap: wrap;*/
}

@media (max-width: 1000px) {
  #AsiaSelect .main-title {
    border: none;
  }

  .AsiaSelect-tool {
    min-width: 1000px;
    overflow: auto;
  }

  .AsiaSelect-nav-tab-hidden {
    display: block;
    height: 39px;
    border-bottom: 1px solid #757575;
    margin-bottom: 30px;
  }

  .AsiaSelect-nav-tab ul {
    margin: 0;
  }
}

figure.AsiaSelect-box {
  /*
    width: 32%;
    margin: 0 2% 10px 0;
*/
  width: calc((100% - 40px) / 3);
  margin: 0 20px 10px 0;
  line-height: 0;
  overflow: hidden;
  /*    border: solid 1px #8c001a;*/
  background: #000;
  color: #fff;
  position: relative;
}

figure.AsiaSelect-box:last-of-type {
  margin-right: 0;
}

figure.AsiaSelect-box img {
  width: 100%;
  transition: 0.5s;
}

figure.AsiaSelect-box:hover img {
  opacity: 0.6;
  transform: scale(1.1);
}

figure.AsiaSelect-box figcaption {
  background: linear-gradient(transparent 5%, rgba(30, 29, 24, 0.9) 75%);
  padding: 7px 15px;
  position: absolute;
  font-size: 0.875rem;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
}

figure.AsiaSelect-box p {
  color: #fff;
  padding: 0px;
  margin: 0;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

figure.AsiaSelect-box a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


/*==============  ==============*/



/*==============  ==============*/